/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.gameboard {
  margin: 0 auto;
  /*background: url(sky.png);*/
  /*background-color: black;*/
  width: 800px;
  height: 600px;
  background-repeat: no-repeat;
}

body {
  background-image: url(sky.jpg);
}

.scoreboard {
  font-size: 24px;
  color: white;

}

.highScore {
  margin: 0 auto;
  z-index: -1;
}

